In [1]:
#Q1

In [12]:
import selenium
import time
import re
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
driver = webdriver.Chrome()
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
table = driver.find_element(By.CLASS_NAME, 'sortable.wikitable.sticky-header.static-row-numbers.sort-under.col3center.col4right.jquery-tablesorter')
rows = table.find_elements(By.TAG_NAME, 'tr')
data = []
for row in rows:
    cols = row.find_elements(By.TAG_NAME, 'td')
    cols = [col.text for col in cols]
    if cols:
        data.append(cols)
df = pd.DataFrame(data)
df_clean = df.drop(df.columns[4], axis=1)
df_clean.columns = ['Video Title', 'Artist', 'Views', 'Upload Date']
pattern = r'\[\d+\]'
df_clean['Video Title'] = df_clean['Video Title'].apply(lambda x: re.sub(pattern, '', x))
df_clean['Rank'] = pd.Series(range(1, len(df_clean) + 1)) 
df_clean = df_clean[['Rank', 'Video Title', 'Artist', 'Views', 'Upload Date']]
print(df_clean)

    Rank                                  Video Title  \
0      1                           "Baby Shark Dance"
1      2                                  "Despacito"
2      3                       "Johny Johny Yes Papa"
3      4                                  "Bath Song"
4      5                          "Wheels on the Bus"
5      6                              "See You Again"
6      7                               "Shape of You"
7      8                "Phonics Song with Two Words"
8      9                                "Uptown Funk"
9     10                              "Gangnam Style"
10    11  "Learning Colors – Colorful Eggs on a Farm"
11    12                                     "Axel F"
12    13                             "Dame Tu Cosita"
13    14   "Masha and the Bear – Recipe for Disaster"
14    15                        "Baa Baa Black Sheep"
15    16                             "Lakdi Ki Kathi"
16    17                                      "Sugar"
17    18                             "Counting Stars"
18    19                                       "Roar"
19    20           "Waka Waka (This Time for Africa)"
20    21                      "Shree Hanuman Chalisa"
21    22          "Humpty the train on a fruits ride"
22    23                                      "Sorry"
23    24                          "Thinking Out Loud"
24    25                                    "Perfect"
25    26                                 "Dark Horse"
26    27                                 "Let Her Go"
27    28                                      "Faded"
28    29                             "Girls Like You"
29    30                                    "Lean On"

                                               Artist  Views  \
0         Pinkfong Baby Shark - Kids' Songs & Stories  15.12
1                                          Luis Fonsi   8.55
2   LooLoo Kids - Nursery Rhymes and Children's Songs   6.95
3                          Cocomelon - Nursery Rhymes   6.85
4                          Cocomelon - Nursery Rhymes   6.56
5                                         Wiz Khalifa   6.40
6                                          Ed Sheeran   6.33
7               ChuChu TV Nursery Rhymes & Kids Songs   6.00
8                                         Mark Ronson   5.33
9                                                 Psy   5.30
10                                        Miroshka TV   5.15
11                                         Crazy Frog   4.78
12                                      Ultra Records   4.74
13                                         Get Movies   4.60
14                         Cocomelon - Nursery Rhymes   4.17
15                                       Jingle Toons   4.13
16                                           Maroon 5   4.09
17                                        OneRepublic   4.05
18                                         Katy Perry   4.03
19                                            Shakira   4.01
20                              T-Series Bhakti Sagar   3.97
21      Kiddiestv Hindi - Nursery Rhymes & Kids Songs   3.89
22                                      Justin Bieber   3.84
23                                         Ed Sheeran   3.79
24                                         Ed Sheeran   3.78
25                                         Katy Perry   3.77
26                                          Passenger   3.70
27                                        Alan Walker   3.67
28                                           Maroon 5   3.65
29                               Major Lazer Official   3.65

          Upload Date
0       June 17, 2016
1    January 12, 2017
2     October 8, 2016
3         May 2, 2018
4        May 24, 2018
5       April 6, 2015
6    January 30, 2017
7       March 6, 2014
8   November 19, 2014
9       July 15, 2012
10  February 27, 2018
11      June 16, 2009
12      April 5, 2018
13   January 31, 2012
14      June 25, 2018
15      June 14, 2018
16   January 14, 2015
17       May 31, 2013
18  September 5, 2013
19       June 4, 2010
20       May 10, 2011
21   January 26, 2018
22   October 22, 2015
23    October 7, 2014
24   November 9, 2017
25  February 20, 2014
26      July 25, 2012
27   December 3, 2015
28       May 31, 2018
29     March 22, 2015

In [6]:
#Q2

In [13]:
import selenium
import pandas
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException 
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')
head_buttons=driver.find_elements(By.CLASS_NAME,'border-0')
global more,body
tours=[]
times=[]
ps=[]
ds=[]
for i in head_buttons:
    if i.text=='Fixtures and Results':
        i.click()
        break
time.sleep(7)
upcoming=driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[2]/div[1]/div[2]')
upcoming.click()
time.sleep(10)
more=driver.find_element(By.CLASS_NAME,'match-btn.btn-red.d-flex.align-items-center.justify-content-center.mx-auto.mt-3.morematches')
body=driver.find_element(By.TAG_NAME,'body')
for i in range(8):
    try:
        more.click()
        time.sleep(3)
    except StaleElementReferenceException:
        pass
torn_names=driver.find_elements(By.CLASS_NAME,'match-tournament-name.ng-binding')
places=driver.find_elements(By.CLASS_NAME,'match-venue.ng-scope')
dates=driver.find_elements(By.CLASS_NAME,'match-dates.ng-binding')
match_times=driver.find_elements(By.CLASS_NAME,'match-time.no-margin.ng-binding')
for t in torn_names:

    tours.append(t.text)
for p in places:

    ps.append(p.text)
for d in dates:

    ds.append(d.text)
for mt in match_times:
    times.append(mt.text)


df=pd.DataFrame({
    "Series": tours,
    "Places":ps,
    "Date":ds,
    "Time":times
})
print(df)
df.to_csv("BCCI match fixtures India.csv")

                                           Series  \
0                   ICC Womens T20 World Cup 2024
1                   ICC Womens T20 World Cup 2024
2        Bangladesh Tour of India T20 Series 2024
3     Australia U19 Tour of India Multiday Series
4                   ICC Womens T20 World Cup 2024
5        Bangladesh Tour of India T20 Series 2024
6        Bangladesh Tour of India T20 Series 2024
7                   ICC Womens T20 World Cup 2024
8      New Zealand Tour of India Test Series 2024
9      New Zealand Tour of India Test Series 2024
10     New Zealand Tour of India Test Series 2024
11     India Tour of South Africa T20 Series 2024
12     India Tour of South Africa T20 Series 2024
13     India Tour of South Africa T20 Series 2024
14     India Tour of South Africa T20 Series 2024
15                 Border Gavaskar Trophy 2024-25
16  India Women Tour of Australia ODI Series 2024
17                 Border Gavaskar Trophy 2024-25
18  India Women Tour of Australia ODI Series 2024
19  India Women Tour of Australia ODI Series 2024
20                 Border Gavaskar Trophy 2024-25
21                 Border Gavaskar Trophy 2024-25
22                 Border Gavaskar Trophy 2024-25
23          England Tour of India T20 Series 2025
24          England Tour of India T20 Series 2025
25          England Tour of India T20 Series 2025
26          England Tour of India T20 Series 2025
27          England Tour of India T20 Series 2025
28          England Tour of India ODI Series 2025
29          England Tour of India ODI Series 2025
30          England Tour of India ODI Series 2025
31              India In England Test Series 2025
32         India Women In England T20 Series 2025
33         India Women In England T20 Series 2025
34              India In England Test Series 2025
35         India Women In England T20 Series 2025
36         India Women In England T20 Series 2025
37              India In England Test Series 2025
38         India Women In England T20 Series 2025
39         India Women In England ODI Series 2025
40         India Women In England ODI Series 2025
41         India Women In England ODI Series 2025
42              India In England Test Series 2025
43              India In England Test Series 2025

                                               Places    Date       Time
0          Dubai International Cricket Stadium, Dubai   4 Oct  19:30 IST
1          Dubai International Cricket Stadium, Dubai   6 Oct  15:30 IST
2   Shrimant Madhavrao Scindia Cricket Stadium, Gw...   6 Oct  19:00 IST
3                    M A Chidambaram Stadium, Chennai   7 Oct   9:30 IST
4          Dubai International Cricket Stadium, Dubai   9 Oct  19:30 IST
5                         Arun Jaitley Stadium, Delhi   9 Oct  19:00 IST
6       Rajiv Gandhi International Stadium, Hyderabad  12 Oct  19:00 IST
7                    Sharjah Cricket Stadium, Sharjah  13 Oct  19:30 IST
8                    M Chinnaswamy Stadium, Bengaluru  16 Oct   9:30 IST
9       Maharashtra Cricket Association Stadium, Pune  24 Oct   9:30 IST
10                           Wankhede Stadium, Mumbai   1 Nov   9:30 IST
11                                  Kingsmead, Durban   8 Nov  20:00 IST
12                         St George's Park, Gqeberha  10 Nov  20:00 IST
13                         SuperSport Park, Centurion  13 Nov  20:00 IST
14                The Wanderers Stadium, Johannesburg  15 Nov  20:00 IST
15                               Perth Stadium, Perth  22 Nov   7:50 IST
16                       Allan Border Field, Brisbane   5 Dec   9:00 IST
17                            Adelaide Oval, Adelaide   6 Dec   9:30 IST
18                       Allan Border Field, Brisbane   8 Dec   5:30 IST
19                                 WACA Ground, Perth  11 Dec  11:00 IST
20                                The Gabba, Brisbane  14 Dec   5:50 IST
21                Melbourne Cricket Ground, Melbourne  26 Dec   5:00 IST
22                      Sydney Cricket Ground, Sydney   3 Jan   5:00 IST
23                              Eden Gardens, Kolkata  22 Jan  19:00 IST
24                    MA Chidambaram Stadium, Chennai  25 Jan  19:00 IST
25                      Niranjan Shah Stadium, Rajkot  28 Jan  19:00 IST
26      Maharashtra Cricket Association Stadium, Pune  31 Jan  19:00 IST
27                           Wankhede Stadium, Mumbai   2 Feb  19:00 IST
28       Vidarbha Cricket Association Stadium, Nagpur   6 Feb  13:30 IST
29                          Barabati Stadium, Cuttack   9 Feb  13:30 IST
30                   Narendra Modi Stadium, Ahmedabad  12 Feb  13:30 IST
31                                  Headingley, Leeds  20 Jun  15:30 IST
32                           Trent Bridge, Nottingham  28 Jun  15:30 IST
33                       Seat Unique Stadium, Bristol   1 Jul  15:30 IST
34                              Edgbaston, Birmingham   2 Jul  15:30 IST
35                            Kennington Oval, London   4 Jul  15:30 IST
36                           Old Trafford, Manchester   9 Jul  15:30 IST
37                      Lord's Cricket Ground, London  10 Jul  15:30 IST
38                              Edgbaston, Birmingham  12 Jul  15:30 IST
39                         The Rose Bowl, Southampton  16 Jul  15:30 IST
40                      Lord's Cricket Ground, London  19 Jul  15:30 IST
41                Riverside Ground, Chester-le-Street  22 Jul  15:30 IST
42                           Old Trafford, Manchester  23 Jul  15:30 IST
43                            Kennington Oval, London  31 Jul  15:30 IST

In [ ]:
#Q3

In [14]:
import selenium
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
driver = webdriver.Chrome()
driver.get('https://statisticstimes.com/')
time.sleep(3)
a = driver.find_element(By.XPATH, '//*[@id="top"]/div[2]/div[2]/div/a[3]')
first_url = a.get_attribute('href')
driver.get(first_url)
b = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
second_url = b.get_attribute('href')
driver.get(second_url)
table = driver.find_element(By.CLASS_NAME, 'display.dataTable')
rows = table.find_elements(By.TAG_NAME, 'tr')
data = []
for row in rows:
    cols = row.find_elements(By.TAG_NAME, 'td')
    cols = [col.text for col in cols]
    if len(cols) >= 6:
        data.append([cols[0], cols[1], cols[3], cols[4], cols[5], cols[6]])
df = pd.DataFrame(data, columns=['Rank', 'State', 'GSDP Latest Year', 'GSDP (21-22)', 'Share %', 'GDP (Billions)'])
print(df)
df.to_csv("India_GDP_statewise.csv", index=False)
# driver.quit()

   Rank                      State GSDP Latest Year GSDP (21-22) Share %  \
0     1                Maharashtra                -    3,108,022  13.17%
1     2                 Tamil Nadu        2,364,514    2,071,286   8.78%
2     3                  Karnataka        2,269,995    1,978,094   8.38%
3     4              Uttar Pradesh        2,258,040    1,975,595   8.37%
4     5                    Gujarat        2,230,609    1,928,683   8.17%
5     6                West Bengal        1,531,758    1,329,238   5.63%
6     7                  Rajasthan        1,365,849    1,193,489   5.06%
7     8             Andhra Pradesh        1,303,524    1,148,471   4.87%
8     9                  Telangana        1,308,034    1,124,204   4.76%
9    10             Madhya Pradesh        1,246,471    1,092,964   4.63%
10   11                     Kerala        1,046,188      934,542   3.96%
11   12                      Delhi        1,014,688      881,336   3.73%
12   13                    Haryana          984,055      868,905   3.68%
13   14                     Odisha          753,177      662,886   2.81%
14   15                      Bihar          751,396      650,302   2.76%
15   16                     Punjab          676,164      617,192   2.62%
16   17                      Assam          493,167      411,454   1.74%
17   18               Chhattisgarh          464,399      410,525   1.74%
18   19                  Jharkhand          393,722      358,863   1.52%
19   20                Uttarakhand          303,781      267,143   1.13%
20   21            Jammu & Kashmir          224,226      193,352   0.82%
21   22           Himachal Pradesh          191,728      172,162   0.73%
22   23                        Goa           93,672       84,266   0.36%
23   24                    Tripura           72,636       62,550   0.27%
24   25                 Chandigarh           54,285       46,096   0.20%
25   26                 Puducherry           49,643       43,810   0.19%
26   27                  Meghalaya           42,697       38,785   0.16%
27   28                     Sikkim           42,756       37,557   0.16%
28   29                    Manipur                -       36,594   0.16%
29   30          Arunachal Pradesh           39,630       34,775   0.15%
30   31                   Nagaland           35,643       31,038   0.13%
31   32                    Mizoram                -       27,824   0.12%
32   33  Andaman & Nicobar Islands                -       10,371   0.04%
33                           India       26,949,646   23,597,399

   GDP (Billions)
0         414.928
1         276.522
2         264.080
3         263.747
4         257.484
5         177.456
6         159.334
7         153.324
8         150.084
9         145.913
10        124.764
11        117.660
12        116.001
13         88.497
14         86.817
15         82.397
16         54.930
17         54.806
18         47.909
19         35.664
20         25.813
21         22.984
22         11.250
23          8.351
24          6.154
25          5.849
26          5.178
27          5.014
28          4.885
29          4.643
30          4.144
31          3.715
32          1.385
33          3,150

In [16]:
#Q4

In [16]:
import selenium
import pandas
import time
import re
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
driver=webdriver.Chrome()
first_url='https://github.com/'
driver.get(first_url)
time.sleep(10)
open_source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/button')
open_source.click()
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/div/div[3]/ul/li[2]/a')
trending.click()
time.sleep(5)
all_items=driver.find_elements(By.CLASS_NAME,'Box-row')
r_names=[]
contris=[]
languages=[]
urls=[]
descs=[]
contri_urls=[]
for item in all_items:
    r_name=item.find_element(By.CLASS_NAME,'h3.lh-condensed')
    name=r_name.text
    r_names.append(name)
    try:
        language_e=item.find_element(By.CLASS_NAME,'d-inline-block.ml-0.mr-3')
        language=language_e.text
    except:
        language='Not Specified'
    languages.append(language)
    description=item.find_element(By.CLASS_NAME,'col-9.color-fg-muted.my-1.pr-4')
    descs.append(description.text)
for r in r_names:
    second_url=r.replace(' ','')
    url=first_url+second_url
    urls.append(url)
for i,u in enumerate(urls):
    driver.get(u)
    time.sleep(5)
    right_heads=driver.find_elements(By.CLASS_NAME,'h4.mb-3')
    for r in right_heads:
        x = r.text
        a = re.match(r'Contributors\s*([0-9]{1,3}(?:,[0-9]{3})*|\d+)', x)
        if a:
            contri = re.search(r'\d{1,3}(?:,\d{3})*', a.group()) 
            if contri:
                count_contri=contri.group()
                contris.append(count_contri)
df=pd.DataFrame({
    "Name of repository":r_names,
    "Major language used":languages,
    "Description of repository":descs,
    "Contributors":contris
})
print(df)
# r_names.clear()
# descs.clear()
# urls.clear()
# languages.clear()
# contris.clear()
# # print(contri_urls)
# driver.quit()

                          Name of repository Major language used  \
0                     mediar-ai / screenpipe                Rust
1                          exo-explore / exo              Python
2                        godotengine / godot                 C++
3                       unclecode / crawl4ai              Python
4                          ToolJet / ToolJet          JavaScript
5                           mlc-ai / web-llm          TypeScript
6   EbookFoundation / free-programming-books       Not Specified
7         dair-ai / Prompt-Engineering-Guide                 MDX
8                   All-Hands-AI / OpenHands              Python
9                           openai / whisper              Python
10                              pytorch / ao              Python
11  mainmatter / 100-exercises-to-learn-rust                Rust
12                github-linguist / linguist                Ruby
13                    continuedev / continue          TypeScript
14                      juspay / hyperswitch                Rust
15                      TheAlgorithms / Java                Java
16                   OpenBB-finance / OpenBB              Python
17               freeCodeCamp / freeCodeCamp          TypeScript

                            Description of repository Contributors
0   24/7 local AI screen & mic recording. Build AI...           20
1   Run your own AI cluster at home with everyday ...           21
2   Godot Engine – Multi-platform 2D and 3D game e...        2,692
3   🔥🕷️ Crawl4AI: Open-source LLM Friendly Web Cra...            9
4   Low-code platform for building business applic...          548
5    High-performance In-browser LLM Inference Engine           41
6                📚 Freely available programming books        2,899
7   🐙 Guides, papers, lecture, notebooks and resou...          196
8                   🙌 OpenHands: Code Less, Make More          189
9   Robust Speech Recognition via Large-Scale Weak...           69
10  PyTorch native quantization and sparsity for t...           68
11  A self-paced course to learn Rust, one exercis...           34
12  Language Savant. If your repository's language...        1,077
13  ⏩ Continue is the leading open-source AI code ...          175
14  An open source payments switch written in Rust...          185
15                 All Algorithms implemented in Java          557
16      Investment Research for Everyone, Everywhere.          224
17  freeCodeCamp.org's open-source codebase and cu...        5,000

In [3]:
#Q5

In [4]:
import selenium
import pandas
import time
import re
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/')
charts=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()
time.sleep(10)
top_100=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[3]/div/nav/ul/li[1]/a')
top_100.click()
all_items=driver.find_elements(By.CLASS_NAME,'o-chart-results-list-row-container')
ranks=[]
names=[]
artist_names=[]
weeks=[]
peaks=[]
lasts=[]

for item in all_items:
    text=item.text
    words=re.split(r'\n',text)
    if words[1]=="NEW" or words[1]=="RE- ENTRY":
        words[1]=words[2]
        words[2]=words[3]
        words[3]=words[4]
        words[4]=words[5]
        words[5]=words[6]

    rank=words[0]
    ranks.append(rank)
    name=words[1]
    names.append(name)
    artist_name=words[2]
    artist_names.append(artist_name)
    last=words[3]
    lasts.append(last)
    peak=words[4]
    peaks.append(peak)
    week=words[5]
    weeks.append(week)
df=pd.DataFrame({
    "Rank":ranks,
    "Name of song":names,
    "Artist name(s)":artist_names,
    "Last week position":lasts,
    "Peak Position":peaks,
    "Weeks on Chart":weeks
})

print(df)
df.to_csv("Billboard top 100.csv")
# driver.quit()

   Rank        Name of song                       Artist name(s)  \
0     1  A Bar Song (Tipsy)                            Shaboozey
1     2     I Had Some Help  Post Malone Featuring Morgan Wallen
2     3            Espresso                    Sabrina Carpenter
3     4    Good Luck, Babe!                        Chappell Roan
4     5    Die With A Smile               Lady Gaga & Bruno Mars
..  ...                 ...                                  ...
95   96          Diet Pepsi                          Addison Rae
96   97         Coincidence                    Sabrina Carpenter
97   98     Passport Junkie                             Rod Wave
98   99    Circadian Rhythm                                Drake
99  100       Sharpest Tool                    Sabrina Carpenter

   Last week position Peak Position Weeks on Chart
0                   1             1             24
1                   2             1             20
2                   3             3             24
3                   4             4             25
4                   5             3              6
..                ...           ...            ...
95                 81            81              3
96                 73            26              5
97                 61            61              2
98                 66            59              4
99                 76            21              5

[100 rows x 6 columns]

In [5]:
#Q6

In [18]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
driver = webdriver.Chrome()
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(3)
table = driver.find_element(By.CLASS_NAME, 'in-article.sortable')
rows = table.find_elements(By.TAG_NAME, 'tr')
data = []
for row in rows:
    cols = row.find_elements(By.TAG_NAME, 'td')
    if cols:
        data.append([col.text for col in cols])
df = pd.DataFrame(data)
df = df.iloc[1:]
df.columns = ["Rank", "Book Name", "Author Name", "Volumes Sold", "Publisher", "Genre"]
df.to_csv("Top 100 selling books.csv", index=False)
# driver.quit()
print(df)

    Rank                                          Book Name       Author Name  \
1      1                                  Da Vinci Code,The        Brown, Dan
2      2               Harry Potter and the Deathly Hallows     Rowling, J.K.
3      3           Harry Potter and the Philosopher's Stone     Rowling, J.K.
4      4          Harry Potter and the Order of the Phoenix     Rowling, J.K.
5      5                               Fifty Shades of Grey      James, E. L.
..   ...                                                ...               ...
96    96                                          Ghost,The    Harris, Robert
97    97                     Happy Days with the Naked Chef     Oliver, Jamie
98    98              Hunger Games,The:Hunger Games Trilogy  Collins, Suzanne
99    99  Lost Boy,The:A Foster Child's Search for the L...      Pelzer, Dave
100  100  Jamie's Ministry of Food:Anyone Can Learn to C...     Oliver, Jamie

    Volumes Sold        Publisher                        Genre
1      5,094,805       Transworld  Crime, Thriller & Adventure
2      4,475,152       Bloomsbury           Children's Fiction
3      4,200,654       Bloomsbury           Children's Fiction
4      4,179,479       Bloomsbury           Children's Fiction
5      3,758,936     Random House              Romance & Sagas
..           ...              ...                          ...
96       807,311     Random House   General & Literary Fiction
97       794,201          Penguin        Food & Drink: General
98       792,187  Scholastic Ltd.          Young Adult Fiction
99       791,507            Orion           Biography: General
100      791,095          Penguin        Food & Drink: General

[100 rows x 6 columns]

In [7]:
#Q7 page not found so was advised to skip as per ticket Id #23059,  https://www.flipnwork.com/index.php/tickets/view/23059

In [8]:
#Q8

In [9]:
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
driver = webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')
driver.maximize_window()
head_items = driver.find_elements(By.XPATH, '/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a')
for h in head_items:
    if h.text == 'Datasets':
        datasets_url = h.get_attribute('href')
        driver.get(datasets_url)
        break
time.sleep(5)
header = driver.find_elements(By.CLASS_NAME, 'swap')
for h in header:
    if h.text == "Expand All":
        h.click()
        break
time.sleep(5)
items = driver.find_elements(By.CLASS_NAME, 'rounded-box.bg-base-100')
names = []
urls = []
for item in items[3:]:
    try:
        name = WebDriverWait(item, 10).until(
            EC.presence_of_element_located((By.CLASS_NAME, 'truncate.text-primary'))).text
        url_element = item.find_element(By.TAG_NAME, 'a')
        url = url_element.get_attribute('href')
        names.append(name)
        urls.append(url)
    except:
        pass
dataset_characteristics_list = []
associated_tasks_list = []
feature_type_list = []
num_instances_list = []
num_features_list = []
year_list = []
for u in urls:
    driver.get(u)
    time.sleep(3)

    try:
        dataset_details = driver.find_elements(By.CLASS_NAME, 'col-span-4')
        
        dataset_characteristics = ""
        associated_tasks = ""
        feature_type = ""
        num_instances = ""
        num_features = ""
        year = ""

        for detail in dataset_details:
            heading = detail.find_element(By.TAG_NAME, 'h1').text
            value = detail.find_element(By.TAG_NAME, 'p').text

            if heading == "Dataset Characteristics":
                dataset_characteristics = value
            elif heading == "Associated Tasks":
                associated_tasks = value
            elif heading == "Feature Type":
                feature_type = value
            elif heading == "# Instances":
                num_instances = value
            elif heading == "# Features":
                num_features = value
        try:
            year_element = driver.find_element(By.CLASS_NAME, 'text-sm.text-primary-content')
            year_text = year_element.text
            year = year_text.split('/')[-1]
        except:
            year = "Unknown"
        dataset_characteristics_list.append(dataset_characteristics)
        associated_tasks_list.append(associated_tasks)
        feature_type_list.append(feature_type)
        num_instances_list.append(num_instances)
        num_features_list.append(num_features)
        year_list.append(year)

    except Exception as e:
        print(f"Error occurred while extracting data for {u}: {e}")
df = pd.DataFrame({
    'Name': names,
    'Dataset Characteristics': dataset_characteristics_list,
    'Associated Tasks': associated_tasks_list,
    'Feature Type': feature_type_list,
    '# Instances': num_instances_list,
    '# Features': num_features_list,
    'Year': year_list
})
df.to_csv("datasets_info.csv", index=False)
# driver.quit()
print(df)

                                   Name  \
0                                  Iris
1                         Heart Disease
2                          Wine Quality
3                                 Adult
4  Breast Cancer Wisconsin (Diagnostic)
5                        Bank Marketing
6                                  Wine
7                   Student Performance
8                         Online Retail
9                        Car Evaluation

                 Dataset Characteristics            Associated Tasks  \
0                                Tabular              Classification
1                           Multivariate              Classification
2                           Multivariate  Classification, Regression
3                           Multivariate              Classification
4                           Multivariate              Classification
5                           Multivariate              Classification
6                                Tabular              Classification
7                           Multivariate  Classification, Regression
8  Multivariate, Sequential, Time-Series  Classification, Clustering
9                           Multivariate              Classification

                 Feature Type # Instances # Features  Year
0                        Real         150          4  1988
1  Categorical, Integer, Real         303         13  1988
2                        Real        4898         11  2009
3        Categorical, Integer       48842         14  1996
4                        Real         569         30  1995
5        Categorical, Integer       45211         16  2012
6               Integer, Real         178         13  1991
7                     Integer         649         30  2014
8               Integer, Real      541909          6  2015
9                 Categorical        1728          6  1997